# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Project specific
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep

# Environment variables
.env
